# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.vite/

# Local env files
.env
.env.*.local

# System/OS files
.DS_Store
Thumbs.db

# Editor directories and project files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local
*.cache/
coverage/